<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skyeng table</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Категория</th>
            <th>Статус активности</th>
            <th>Цена</th>
            <th>Количество заказов за прошлый месяц</th>
            <th>Количество заказов за текущий месяц</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{% if product.active %}<span class="badge bg-success text-white">Активен</span>{% else %}<span class="badge bg-danger text-white">Неактивен</span>{% endif %}</td>
            <td>{{ product.price }} руб.</td>
            <td>{{ product.orders_last_month }}</td>
            <td>{{ product.orders_current_month }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
